@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito Sans', sans-serif;
}

.pagination{
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: center;

    font-weight: bold;
    color:#20358A;
    margin: auto;
    padding: 50px 0;
}

.pagination .selected{
    color:#1C7CFF;
}

.pagination .selected::before{
    content: "";
}

.dark .pagination .selected{
    color:#1fc7e0;
}

.pagination .break{
   color:#5C78A3;
}

.pagination li{
    width: 42px;
    height:42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

@media (min-width: 640px) {
    .pagination li {
        width: 80px;
        height:80px;
    }
    .pagination li a{
        padding: 28px 0;

    }
}